In [2]:
import pandas as pd #graph - better visualization themes

In [3]:
matches = pd.read_csv('matches.csv')

In [4]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [5]:
matches.shape

(577, 18)

In [6]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [7]:
#How many matches were played in each season?
pd.value_counts(matches['season'])

/var/folders/p0/q_0lw4p165s9w167p7jv6ttw0000gn/T/ipykernel_21953/942891024.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(matches['season'])

season
2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2015    59
2008    58
2009    57
Name: count, dtype: int64

In [8]:
#kaunsi team kitni baar win hui hai?
pd.value_counts(matches['winner'])

/var/folders/p0/q_0lw4p165s9w167p7jv6ttw0000gn/T/ipykernel_21953/289321548.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(matches['winner'])

winner
Mumbai Indians                 80
Chennai Super Kings            79
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Rajasthan Royals               63
Kings XI Punjab                63
Delhi Daredevils               56
Sunrisers Hyderabad            34
Deccan Chargers                29
Pune Warriors                  12
Gujarat Lions                   9
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: count, dtype: int64

In [11]:
#winner of every season
matches.drop_duplicates('season',keep='last')[['season','winner']]

     season                 winner
57     2008       Rajasthan Royals
114    2009        Deccan Chargers
174    2010    Chennai Super Kings
247    2011    Chennai Super Kings
321    2012  Kolkata Knight Riders
397    2013         Mumbai Indians
457    2014  Kolkata Knight Riders
516    2015         Mumbai Indians
576    2016    Sunrisers Hyderabad

In [14]:
#i want to find record where winner is chennai super kings and wins by run greator than 50
matches[(matches['winner']== 'Chennai Super Kings') & (matches['win_by_runs']>50)][['team1','team2','winner','win_by_runs']]

,team1,team2,winner,win_by_runs
62,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,92
84,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,78
122,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,55
225,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,63
247,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,58
253,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,74
320,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,86
344,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,86
375,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,77
405,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,93
482,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,97

In [15]:
#Player of Match
pd.value_counts(matches['player_of_match']).head()

/var/folders/p0/q_0lw4p165s9w167p7jv6ttw0000gn/T/ipykernel_21953/2302183674.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(matches['player_of_match']).head()

player_of_match
CH Gayle          17
YK Pathan         16
AB de Villiers    15
DA Warner         14
RG Sharma         13
Name: count, dtype: int64

In [16]:
deliveries = pd.read_csv('deliveries.csv')

In [17]:
deliveries.shape

(136598, 21)

In [18]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [19]:
temp_df = deliveries.dropna()

In [20]:
temp_df.shape

(4871, 21)

In [21]:
temp_df.describe()

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
count,4871.000000,4871.000000,4871.000000,4871.000000,4871.000000,4871.000000,4871.0,4871.000000,4871.000000,4871.0,4871.000000,4871.000000,4871.000000
mean,286.624512,1.474441,12.145966,3.657770,0.001232,0.005132,0.0,0.000411,0.000616,0.0,0.049887,0.006159,0.056046
std,168.029038,0.503492,5.993652,1.781061,0.035079,0.071464,0.0,0.020261,0.024812,0.0,0.227872,0.078245,0.241360
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,139.000000,1.000000,7.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,286.000000,1.000000,13.000000,4.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
75%,432.000000,2.000000,18.000000,5.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
max,577.000000,4.000000,20.000000,9.000000,1.000000,1.000000,0.0,1.000000,1.000000,0.0,2.000000,1.000000,2.000000