In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("SaratogaHouses.csv")

In [3]:
dataset.head()

,Unnamed: 0,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir
0,1,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,2,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,3,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,4,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,5,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes

In [4]:
x = dataset['livingArea'].values
y = dataset['price'].values

In [5]:
mean_x = np.mean(x)
mean_y = np.mean(y)

In [6]:
numer ,denom = 0,0

In [8]:
for i in range(len(x)):
    numer += (x[i]-mean_x)*(y[i]-mean_y)
    denom += (x[i]-mean_x)**2

slope = numer/denom
c = mean_y - mean_x*slope

In [9]:
slope,c

(np.float64(113.12254184680982), np.float64(13439.394004889007))

In [10]:
from scipy.stats import linregress

In [11]:
linregress(x,y)

LinregressResult(slope=np.float64(113.12254184680953), intercept=np.float64(13439.394004889531), rvalue=np.float64(0.7123902334268234), pvalue=np.float64(9.48623993968994e-268), stderr=np.float64(2.68234100344863), intercept_stderr=np.float64(4992.35284875661))

In [12]:
y_pred  = slope*1100 +c

In [13]:
y_pred

np.float64(137874.19003637982)